.container{
    max-width: 450px;
    border: 2px solid black;
    margin: 0 auto;
    border-radius: 10px;
    background-color: papayawhip;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.input{
    padding: 20px;
    height: 20px;
    margin: 20px;
    background-color: antiquewhite;
}
.value {
    font-size: 1.5em; 
    padding: 15px; 
    width: 100%; 
    box-sizing: border-box;
    box-shadow: 0 2px 4px purple;
    border: 2px solid grey;
    border-radius: 10px;
}
.row{
    display: flex;
    margin: 8px 0;
}

.button{
    
    display: flex;
    flex:1;
    text-align: center;
    /* height: 34px;
    width: 34px; */
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px pink;
    cursor: pointer;
    transition: background-color 0.2s ;
    background-color: orange;
}

button:active{
background-color: grey;

}
.flex{
   display: flex;
}

.flex-col{
    flex-direction: column;
}

.itemcenter{
    justify-content: center;
    align-items: center;
}

.double{
    flex: 2;
}